.container{
    min-height: 100%;
    position: relative;
    padding: 10px 75px 0px 75px;
}

span {
    float: right;
}

h7 {
    font-family: sans-serif;
    font-size: 1.2em;
    word-spacing: .1em;
}

.table {
    width: 80%;
}

.row {
}

.col {
}

.line {
    height: 2px;
    color: darkgray;
    margin: auto;
    width: 80%;
}

.footerText {
}

p {
    font-family: sans-serif;
    font-size: .8em;
}